.vs
XamarinTechInvestigation/bin
XamarinTechInvestigation/obj
XamarinTechInvestigation.Android/bin
XamarinTechInvestigation.Android/obj
XamarinTechInvestigation.iOS/bin
XamarinTechInvestigation.iOS/obj
XamarinTechInvestigation.UITests/bin
XamarinTechInvestigation.UITests/obj